include ../button/button.pug
include ../text/text.pug
include ../button-star/button-star.pug
include ../room-info/room-info.pug
include ../rate-button/rate-button.pug

mixin room(classes, image, roomNumber, isLux, price, amountOfResponse, rate, searchRoomLux, isCards)
    .room(class=classes)
        +room__img-wr
            .room__carousel
                img.room__img(src=image alt='room1')
                img.room__img(src=image alt='room1')
                img.room__img(src=image alt='room1')
                img.room__img(src=image alt='room1')              
            //- +room__rounds-wrapper('slick-dots')
            //-     +button(['room__image-scroll', 'room__image-scroll_active'])
                //- +button(['room__image-scroll', 'block', 'block_ml4px'])
                //- +button(['room__image-scroll', 'block', 'block_ml4px'])
                //- +button(['room__image-scroll', 'block', 'block_ml4px'])
            +button(['room__button', 'room__button_left', 'slick-prev'])
            +button(['room__button', 'room__button_right', 'slick-next'])
        - let classP=''
        - if (!isCards) classP='search-room__room-info'
        +room-info(classP)
            p.room-info__text-flex
                +text('span', '№', ['room-info__number-pp', 'text_bold', 'text_fs14', 'text_lh17'])
                +text('span', roomNumber, ['text_bold', 'text_fs20', 'text_lh29'])
                if (isLux)
                    +text('span', isLux, ['text_bold', 'text_ttu', 'text_BC9CFF', searchRoomLux])
            - if (isCards) {
                p.room-info__price-pp-cards
                    +text('span', price, ['text_bold', 'text_fs14', 'text_lh18', 'text_1F2041-05'])
                    +text('span', 'в сутки', ['text_lh18', 'text_1F2041-05', 'room-info__small-text-pp'])
            - } else {
                p.room-info__price-pp
                    +text('span', price, ['text_bold', 'text_fs14', 'text_lh18', 'text_1F2041-05'])
                    +text('span', 'в сутки', ['text_lh18', 'text_1F2041-05', 'room-info__small-text-pp'])
            - }
        +room__like-wrapper
            +room__star-wrapper
                +rate-button('', rate)
            p.room__star-text
                +text('span', amountOfResponse, ['text_lh18', 'text_1F2041-05', 'text_fs14', 'text_bold', 'block', 'block_mr4px'])
                +text('span', 'Отзывов', ['text_fs14', 'text_lh18', 'text_1F2041-05'])

mixin room__img-wr
    .room__img-wr
        block

mixin room__rounds-wrapper(classes)
    .room__rounds-wrapper(class=classes)
        block

mixin room__like-wrapper
    .room__like-wrapper
        block

mixin room__star-wrapper
    .room__star-wrapper
        block