mixin inputP(types='', names='', holder='', classes='', patterns='', readonlies='')
    input.input.text.text_b.text_1F2041-075(type=types, name=names, placeholder=holder, class=classes, pattern=patterns, readonly=readonlies)

mixin inputV(types='', names='', values='', classes='', patterns='', readonlies='')
    input.input.text.text_b.text_1F2041-075(type=types, name=names, value=values, class=classes, pattern=patterns, readonly=readonlies)

mixin inputD(types='', names='', readonlies='', value=values)
    input.input.input-hidden.text.text_b.text_1F2041-075(type=types, name=names, readonly=readonlies, value=values)