include ../button/button.pug
include ../text/text.pug
include ../input/input.pug

mixin footer(classes)
    .footer(class=classes)
        .footer_sm
            +footer__column1
                +footer__img(['logo-toxin', 'block', 'block_mb18px'])
                    img(src='img/Logo.png' alt='logo-toxin')
                +text('p', 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', ['text_c', 'text_lh24', 'text_1F2041-075', 'block', 'block_mt-2px'])
            +footer__column2(['block', 'block_mt5px'])
                +text('p', 'навигация', ['text_bold', 'text_ttu', 'block', 'block_mb21px'])
                +footer-href(['block', 'block_mb22px'], '#', 'О нас')
                +footer-href(['block', 'block_mb20px'], '#', 'Новости')
                +footer-href(['block', 'block_mb21px'], '#', 'Служба поддержки')
                +footer-href('', '#', 'Услуги')
            +footer__column3(['block', 'block_mt5px'])
                +text('p', 'о нас', ['text_bold', 'text_ttu', 'block', 'block_mb21px'])
                +footer-href(['block', 'block_mb22px'], '#', 'О сервисе')
                +footer-href(['block', 'block_mb20px'], '#', 'Наша команда')
                +footer-href(['block', 'block_mb21px'], '#', 'Вакансии')
                +footer-href('', '#', 'Инвесторы')
            +footer__column4(['block', 'block_mt5px'])
                +text('p', 'Служба поддержки', ['text_bold', 'text_ttu', 'block', 'block_mb21px'])
                +footer-href(['block', 'block_mb21px'], '#', 'Соглашения')
                +footer-href(['block', 'block_mb22px'], '#', 'Сообщества')
                +footer-href('', '#', 'Связь с нами')
            +footer__column5(['block', 'block_mt5px'])
                +text('p', 'Подписка', ['text_bold', 'text_ttu', 'block', 'block_mb18px'])
                +footer-href(['block', 'block_mb22px', 'text_lh24'], '#', 'Получайте специальные предложения и новости сервиса')
                +input(type='email' name='subscription text field' placeholder='Email', class=['text', 'text_b', 'text_1F2041-075'])
                +button(['form-field-button-hf', 'block_ml216px']) 

mixin footer__column1
    .footer__column1
        block

mixin footer__img(classes)
    a.footer__img(class=classes)(href='/')
        block

mixin footer__column2(classes)
    .footer__column2(class=classes)
        block

mixin footer-href(classes, href, text)
    a.text.text_c.text_1F2041-05(class=classes, href=href)= text

mixin footer__column3(classes)
    .footer__column3(class=classes)
        block

mixin footer__column4(classes)
    .footer__column4(class=classes)
        block

mixin footer__column5(classes)
    .footer__column5(class=classes)
        block